/**{
    border-radius: 5px;
    border: 1px solid blue
}*/
#bg_image{
    width: 1350px;
    height: 625px;
    background-image: url(../images/bus.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#pic{
    position: relative;
    left: 23px;
    /*float: left;
    padding: 20px;*/
}

.enemy{
    clear: both;
    height: 23px; 
    width: 390px;
    color: white;
}

.enemyLarge{
    clear: both;
    height: 155px; 
    width: 395px;
    color: white;   
}
.caption1{
    color: white;
    font-size: 30px;
    position: relative;
    left: 60%;
}
.caption2{
    color: white;
    font-size: 20px;
    clear: both;
    width: 129px;
    height: 152px;
}
.picHolder{
    float: left;    
    background-color: white;
    height: 125px;
    width: 125px;
    border: 3px solid green;
}
.name{
    clear: both;
    text-align: center;
    font-size: 14px;
}
.caption3{
    color: white;
    font-size: 20px;
    height: 23px; /*153px;*/
    width: 400px;
}
.defenderLarge{
    color: white;
    font-size: 20px;
    height: 155px; /*153px;*/
    width: 130px;
}

.selected{
    color: black;
}
.notSelected{
    background-color: red;
    border-color: black;
}
.fighter{
    background-color: black;
}
#selectedHolder{
    height: 128px;
    width: 129px;
}
.reset{
    display: none;
}
.resetOn{
    display: inline;
}
#enemyHolder{
    width: 393px;
    height: 132px;
    clear: both;
}
#attack{
 clear: both;   
}
.defeated{
    display: none;
    float: right;
    width: 393px;
    height: 132px;
}
.fighters{
    width: 525px;
    height: 132px;
}